* {
    box-sizing: border-box;
}

body {
    background-color: #e6f9ff;
}

.flex-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 1%;
}

.flex-container>div {
    width: 50%;
}

.editor textarea {
    width: 100%;
    min-height: 500px;
    resize: vertical;
    outline: none;
    padding-left: 5px;
    padding-top: 5px;
    font-size: 14px;
}

.editor {
    width: 100%;
    margin-left: 1%;
}

.preview {
    width: 100%;
    margin-left: 1%;
    margin-right: 1%;
}

#preview {
    background-color: white;
    border: 1px solid black;
    padding-left: 5px;
    font-size: 14px;
    min-height: 500px;
}

@media screen and (max-width: 850px) {
    .flex-container {
        flex-direction: column;
    }
    .flex-container>div {
        width: 90%;
        margin: 0 auto;
    }
}

.title {
    border: none;
    text-align: center;
    color: #0f3d3d;
    margin-top: 20px;
}

blockquote {
    border-left: 3px solid #224b4b;
    color: #224b4b;
    padding-left: 5px;
    margin-left: 25px;
}

code {
    background: #77b1b1;
    padding: 1px 4px 2px 4px;
    font-size: 12px;
    font-weight: bold;
}

pre {
    background: #77b1b1;
    padding: 5px 0 5px 5px;
}

h1 {
    border-bottom: 2px solid #224b4b;
}

h2 {
    border-bottom: 1px solid #224b4b;
}

table {
    border-collapse: collapse;
}

td,
th {
    border: 2px solid #224b4b;
    padding-left: 5px;
    padding-right: 5px;
}